<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Shining Buity</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">
  

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="css/user.css" type="text/css" rel="stylesheet">

  <!--===============================================================================================-->	

<!--===============================================================================================-->



  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Flattern - v2.0.1
  * Template URL: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-none d-lg-block">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i><a href="mailto:contact@example.com">fikirbereketu@gmail.com</a>
        <i class="icofont-phone"></i> +1 646-267-9355
        
         <form>
     <div class="md-form active-pink active-pink-2 mb-3 mt-0">
      <input class="form-control" type="text" placeholder="Search" aria-label="Search">
    <button type="submit" class="btn btn-secondary btn-sm">Search</button>
   </div>
 
   </form>

      </div>
 
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html">Shining Center</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="about.html">Shopping Cart</a></li>
           <li><a href="useraccount.html">My Account</a></li>
          <li><a href="services.html">Log Out</a></li>
          
          <!-- <li><a href="testimonials.html">Testimonials</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li><a href="blog.html">Blog</a></li> -->
          <li class="drop-down"><a href="">Ask Me</a>
            <ul>
              <li><a href="#">Browse The Shelf</a></li>
          
              <li><a href="#">Store Hour and Dirction</a></li>
              <li><a href="#">FAQ</a></li>
             
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->
 

    </div>
  </header><!-- End Header -->
<div>
     <div th:if="${param.error!=null}" style="color:red ;"><span>incorrect user name or email</span></div>
      <p style="color:red" th:if="${emailExists}"><span>email is already exist, you can log in</span></p>
<p> <span style="color:red" th:if="${usernameExists}">user name is already exist please try another one</span></p>
   <p> <span  class="alert alert-success" role="alert" th:if="${forgetpassword}">new password sent your email </span></p>

    <p style="color:red" th:if="${emailNotExists}"><span>email address not exist  </span></p>

    
 <div class="alert alert-success" role="alert" th:if="${emailsent}"><span>successfully  sent your password , check your Email please</span></div>

<button class="creat-button" onclick="openForm()">create Account</button>

<div class="user-creatPopup" id="creataccount" th:classappend="${classactivenewuser}? 'in active'">

  
            
  <form th:action="@{/newuser}" method="post" class="form-container" >
     

    <label for="newusername"><b>User Name</b></label>&nbsp;<span style="color:red" th:if="${usernameExists}">user name is already exist</span>
    <input type="text" placeholder="user Name" id="user" name="username" required >
	  
	  
	                

     <label for="email"><b>Email</b></label>&nbsp;<span style="color:red" th:if="${emailExists}">email is already exist</span>
    <input type="email" placeholder="enter email" id="email" name="email" required >

    <button type="submit" class="btn">Creat Account</button>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
   
  </form>
</div>
	
<button class="login-button" onclick="login()">Login</button>


<div class="login-popup" id="loginn" th:classappend="${classactivelogin}? 'in active'">
  <form  th:action="@{/login}" method="post" class="form-container">
    

    <label for="username"><b>user name</b></label>
    <input type="text" placeholder="Enter username" name="username" required>
	  
	  
	  
	  

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <button type="submit" class="btn">Login</button>
 
  </form>
</div>
	
	<button class="forget-button" onclick="forgetForm()">Forget Password</button>

<div class="forget-popup" id="user-forgetpassword" th:classappend="${classactiveforget}? 'in active'">
  <form th:action="@{/forgetpass}" class="form-container" method="post">
   

   <label for="email"><b>Email</b></label>
    <input type="email" placeholder="enter email" id="email" name="email" required >

    <button type="submit" class="btn">Reset Password</button>
    <button type="button" class="btn cancel" onclick="closeForm3()">Close</button>
  </form>
</div>

</div>
    <div class="user-background">	
  
    
    
    </div>
	
	


	


	
<!--===============================================================================================-->
	
<!--===============================================================================================-->
	

<!--===============================================================================================-->
	<script src="js/first.js"></script>

 
  <script src="assets/js/first.js"></script>


</body>


</html>